<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="stylesheets/swiper.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-4.3.1/dist/css/bootstrap.css" type="text/css">
</head>

<body>

    <header id="top-head">
        <div class="container">
            <div class="row">
                <div class="three columns">
                    <div id="mobile-head">
                        <h1 id="title"><a href="index.html"><img src="images/3232.png" alt="星宿"
                                    style="width: 150px;height: 80px;"></a></h1>
                        <div id="nav-toggle">
                            <div>
                                <span>1</span>
                                <span>2</span>
                                <span>3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="six columns">
                    <nav id="global_navi">
                        <ul>
                            <li><a href="/city.html?city=chengdu">火星</a></li>
                            <li><a href="/city.html?city=shanghai">水星</a></li>
                            <li><a href="/city.html?city=beijing">土星</a></li>
                            <li><a href="/city.html?city=hangzhou">木星</a></li>
                            <li><a href="#">金星</a></li>
                            <li><a href="#">月球</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="three columns">
                    <input type="text" onkeydown="onKeyDown(event)"
                        style="width: 150px;height: 30px;margin-top: 50px;color: black;" id="search" placeholder="搜索">
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <%for (var i=0;i<data.length;i++){ %>
            <hr class="my-4">
            <div class="media">
                <div class="media-body">
                    <h1 class="mt-2 mb-5"><%=data[i][0]%></h1>
                    <h4>tag:<%=data[i][3]%></h4>
                    <p> <%=data[i][1]%></p>
                    <button type="button" onclick="return window.location.href='http:/test?a=<%=data[i][3]%>'" style="color:black"> 详情
                    </button>
                </div>
                <img src="<%=data[i][2]%>" class="ml-3" alt="..." style="width: 250px;height: 200px;">
            </div>
            <hr class="my-4">
            <% } %>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
            </div>
        </div>
        <address><a href="index.html"><img src="/images/logo.png" alt="星宿"></a>
            <p>
                四川大学江安校区<br>
                TEL:123-456-789
            </p>
        </address>
        <small>&copy; 2019 Planet Program. Designed by <a href="/test/contact.html">US</a> </small>
    </footer>
    <script src="javascripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="stylesheets/bootstrap-4.3.1/dist/js/bootstrap.js"></script>
</body>

</html>
<script type="text/javascript">
    function onKeyDown(event){
      var e = event || window.event || arguments.callee.caller.arguments[0];  
      var value=$('#search').val();
      var city;
      if(e && e.keyCode==13){ 
        window.localStorage.setItem('value',value);
        switch(value){
          case '成都':
            city='chengdu';
            break;
          case '上海':
            city='shanghai';
            break;
          case '北京':
            city='beijing';
            break;
          case '杭州':
            city='hangzhou';
            break;
          case '重庆':
            city='chongqing';
            break;
          case '武汉':
            city='wuhan';
            break;
          case '西安':
            city='xian';
            break;
          case '广州':
            city='guangzhou';
            break;
          default:
            city=value;
            break;       
        }
        window.location.href='city.html?city='+city;
      }
    }
    $(function () {
        $('#search').mouseover(function () {
            $('#search').animate({ "width": "300px" });
        }).mouseout(function () {
            $('#search').animate({ "width": "150px" });
        });
    });
    document.getElementById('search').value = window.localStorage.getItem('value');
</script>